In [1]:
import pandas as pd
df = pd.DataFrame(data={'a':[1,2,3,None],'b':[4,5,None,6],'c':[None,None,7,8]})
df

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  NaN  7.0
3  NaN  6.0  8.0

In [2]:
df_0 = df.fillna(0) # NA값을 0으로 채워라
df_0

     a    b    c
0  1.0  4.0  0.0
1  2.0  5.0  0.0
2  3.0  0.0  7.0
3  0.0  6.0  8.0

In [3]:
df_missing = df.fillna('missing')
df_missing

         a        b        c
0        1        4  missing
1        2        5  missing
2        3  missing        7
3  missing        6        8

In [6]:
df1 = df.fillna(method='bfill') 
df2 = df.fillna(method='backfill')
# Null값 아래의 값을 Null값으로 채워준다.
print(df1);print(df2)

     a    b    c
0  1.0  4.0  7.0
1  2.0  5.0  7.0
2  3.0  6.0  7.0
3  NaN  6.0  8.0
     a    b    c
0  1.0  4.0  7.0
1  2.0  5.0  7.0
2  3.0  6.0  7.0
3  NaN  6.0  8.0

In [9]:
# Null 평균값으로 대체
a = df.fillna(df.mean())
b = df.where(pd.notnull(df),df.mean(),axis='columns')
print(a);print(b)

     a    b    c
0  1.0  4.0  7.5
1  2.0  5.0  7.5
2  3.0  5.0  7.0
3  2.0  6.0  8.0
     a    b    c
0  1.0  4.0  7.5
1  2.0  5.0  7.5
2  3.0  5.0  7.0
3  2.0  6.0  8.0

In [10]:
# 중간값 대체
a = df.fillna(df.median())
b = df.where(pd.notnull(df),df.median(),axis='columns')
print(a);print(b)

     a    b    c
0  1.0  4.0  7.5
1  2.0  5.0  7.5
2  3.0  5.0  7.0
3  2.0  6.0  8.0
     a    b    c
0  1.0  4.0  7.5
1  2.0  5.0  7.5
2  3.0  5.0  7.0
3  2.0  6.0  8.0

In [11]:
# 최댓값
a = df.fillna(df.max())
b = df.where(pd.notnull(df),df.max(),axis='columns')
print(a);print(b)

     a    b    c
0  1.0  4.0  8.0
1  2.0  5.0  8.0
2  3.0  6.0  7.0
3  3.0  6.0  8.0
     a    b    c
0  1.0  4.0  8.0
1  2.0  5.0  8.0
2  3.0  6.0  7.0
3  3.0  6.0  8.0